{#Plantilla de nuestra aplicacion#}
{% extends 'base.html.twig' %}
{% block title %} Pagina Principal {% endblock %}
{# CONTENIDO #}
{% block contenido %}
<div class= "container">
    <h1 class="mt-4 mb-3">Nuevo Menu </h1>
    <div class="row">
        <div class="col-md-8 ">
        {{ form_start(form) }}
            {{ form_errors(form) }}

            
                {{ form_label(form.nombre) }}                
                {{ form_errors(form.nombre) }}                
                {{ form_widget(form.nombre) }}                
     
                {{ form_label(form.descripcion) }}
                {{ form_errors(form.descripcion) }}
                {{ form_widget(form.descripcion) }}
  
                {{ form_label(form.ingredientes) }}
                {{ form_errors(form.ingredientes) }}
                {{ form_widget(form.ingredientes) }}

                {{ form_label(form.categoria) }}
                {{ form_errors(form.categoria) }}
                {{ form_widget(form.categoria) }}

                {{ form_label(form.foto) }}
                {{ form_errors(form.foto) }}
                {{ form_widget(form.foto) }}

                {{ form_label(form.top) }}
                {{ form_errors(form.top) }}
                {{ form_widget(form.top) }}
          

        {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
